<div class="all-wrapper solid-bg-all">
   <div class="layout-w">
      <!--------------------
          START - Mobile Menu
          -------------------->
      <div class="menu-mobile menu-activated-on-click color-scheme-dark">
         <app-side-menu-mobile></app-side-menu-mobile>
      </div>
      <!--------------------
          END - Mobile Menu
          -------------------->
      <!--------------------
          START - Main Menu
          -------------------->
      <div
         class="menu-w color-scheme-light color-style-default menu-position-side menu-side-left menu-layout-compact sub-menu-style-inside sub-menu-color-light selected-menu-color-light menu-activated-on-click menu-has-selected-link">
         <app-side-menu></app-side-menu>
      </div>
      <!--------------------
          END - Main Menu
          -------------------->
      <div class="content-w">

         <app-header></app-header>

         <ul class="breadcrumb">
            <li class="breadcrumb-item">
               <a>Home</a>
            </li>
            <li class="breadcrumb-item">
               <a>Dashboard</a>
            </li>
         </ul>
         <div class="content-i">
            <router-outlet></router-outlet>
         </div>

      </div>
   </div>
   <div class="display-type"></div>
</div>