<div class="content-box">
  <div class="element-wrapper">
    <h6 class="element-header">
      Update User Role
    </h6>
    <div class="element-box">
      <!-- <form [formGroup]="profileForm" (ngSubmit)="submitForm()"> -->
      <div class="container emp-profile">
        <!-- <form method="post"> -->
        <div class="row">

          <div class="col-md-6">
            <div class="profile-head">
              <h5>User : {{userProfile?.name}}</h5>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                  <div class="col-md-4">
                    <label>Name</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{userProfile?.name}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Email</label>
                  </div>
                  <div class="col-md-6">
                    <p *ngIf="userProfile?.email">{{userProfile?.email}}</p>
                    <p *ngIf="!userProfile?.email">-</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Role</label>
                  </div>
                  <div class="col-md-6">
                    <select class="form-control" [(ngModel)]="selectedRole">
                      <option [ngValue]="eachData.id" *ngFor ="let eachData of listRole">{{eachData.name}}</option>
                    </select>
                  </div>
                </div>
                <div class="row pt-3">
                  <div class="col-md-4">
                    <label></label>
                  </div>
                  <div class="col-md-6">
                      <button class="btn btn-secondary" (click)="navidateToList()">Cancel</button>
                      <button class="btn btn-primary" (click)="updateUserRole()">Update Role</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- </form>            -->
        </div>
        <!-- </form> -->
      </div>
    </div>
  </div>