<div class="modal-header">
  <h3>Change Password <span class="extra-title muted"></span></h3>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
    <div class="row sni-box">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="">New Password</label>
          <input class="form-control" formControlName="password" placeholder="Enter New Password" type="password">
          <div *ngIf="formData.password.errors && formData.password.dirty && formData.password.errors?.required" class="invalid-feedback">
              New Password is required
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for=""> Confirm Password</label>
          <input class="form-control" formControlName="confirmPassword" placeholder="Enter Confirm Password"
            type="password">
            <div *ngIf="formData.confirmPassword.errors && formData.confirmPassword.dirty && formData.confirmPassword.errors?.required" class="invalid-feedback">
                Confirm Password is required
            </div>
            <div class="invalid-feedback" *ngIf="formData.confirmPassword.errors?.mustMatch">Passwords must match</div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button  href="javascript:void(0)" class="btn btn-dark" data-dismiss="modal" aria-hidden="true"
      (click)="activeModal.dismiss('Close clicked')">Close</button>
    <button [disabled]="myForm.invalid || formSubmitted || myForm.pristine" type="submit" class="btn btn-primary" id="password_modal_save">Save changes</button>
  </div>
</form>

<ngx-loading [show]="formSubmitted" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>