<div class="top-bar color-scheme-transparent">
   <div class="top-menu-controls">
      <div class="element-search autosuggest-search-activator">
         <input placeholder="Start typing to search..." type="text">
      </div>

      <div class="logged-user-w">
         <app-header-options></app-header-options>
      </div>
   </div>
</div>
