<form [formGroup]="form" (ngSubmit)="submitUnsubscribe()">
  <div class="modal-header">
    <!-- <h4 class="modal-title">Modal Title</h4> -->
    <h2>Do you want to unsubscribe?</h2>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">

      </div>
      <div class="col-md-12">
        <p>If you unsubscribe, you will stop receiving our weekly newsletter.</p>
      </div>
      <div class="col-md-12">
        <input class="form-control" formControlName="email" placeholder="Enter your email address" type="text">
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="activeModal.dismiss('Cross click')">Cancel</button>
    <button type="submit" class="btn btn-primary">Unsubscribe</button>
  </div>
</form>