<!-- <div class="content-box">
    <div class="element-wrapper">
        <h6 class="element-header">
            Dashboard
        </h6>
        <div class="element-box">
            <h5 class="form-header">
                Sample content
            </h5>
            <div class="form-desc">
                Sample content
            </div>
        </div>
    </div>
</div> -->
<div class="content-box">
    <div class="row">
        <div class="col-sm-12">
            <div class="element-wrapper">
                <div class="element-actions">
                    <!-- <form class="form-inline justify-content-sm-end"> -->
                    <select class="form-control form-control-sm rounded">
                        <option value="Pending">
                            Today
                        </option>
                        <option value="Active">
                            Last Week
                        </option>
                        <option value="Cancelled">
                            Last 30 Days
                        </option>
                    </select>
                    <!-- </form> -->
                </div>
                <h6 class="element-header">
                    Dashboard
                </h6>
                <div class="element-content">
                    <div class="row">
                        <div class="col-sm-4 col-xxxl-3">
                            <a class="element-box el-tablo" href="#">
                                <div class="label">
                                    Products Sold
                                </div>
                                <div class="value">
                                    57
                                </div>
                                <div class="trending trending-up-basic">
                                    <span>12%</span><i class="os-icon os-icon-arrow-up2"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4 col-xxxl-3">
                            <a class="element-box el-tablo" href="#">
                                <div class="label">
                                    Gross Profit
                                </div>
                                <div class="value">
                                    $457
                                </div>
                                <div class="trending trending-down-basic">
                                    <span>12%</span><i class="os-icon os-icon-arrow-down"></i>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4 col-xxxl-3">
                            <a class="element-box el-tablo" href="#">
                                <div class="label">
                                    New Customers
                                </div>
                                <div class="value">
                                    125
                                </div>
                                <div class="trending trending-down-basic">
                                    <span>9%</span><i class="os-icon os-icon-arrow-down"></i>
                                </div>
                            </a>
                        </div>
                        <div class="d-none d-xxxl-block col-xxxl-3">
                            <a class="element-box el-tablo" href="#">
                                <div class="label">
                                    Refunds Processed
                                </div>
                                <div class="value">
                                    $294
                                </div>
                                <div class="trending trending-up-basic">
                                    <span>12%</span><i class="os-icon os-icon-arrow-up2"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xxxl-6">
          <div class="element-wrapper">
            <h6 class="element-header">
              New Orders
            </h6>
            <div class="element-box">
              <div class="table-responsive">
                <table class="table table-lightborder">
                  <thead>
                    <tr>
                      <th>
                        Customer
                      </th>
                      <th>
                        Products
                      </th>
                      <th class="text-center">
                        Status
                      </th>
                      <th class="text-right">
                        Total
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="nowrap">
                        John Mayers
                      </td>
                      <td>
                        <div class="cell-image-list">
                          <div class="cell-img" style="background-image: url(img/portfolio9.jpg)"></div>
                          <div class="cell-img" style="background-image: url(img/portfolio2.jpg)"></div>
                          <div class="cell-img" style="background-image: url(img/portfolio12.jpg)"></div>
                          <div class="cell-img-more">
                            + 5 more
                          </div>
                        </div>
                      </td>
                      <td class="text-center">
                        <div class="status-pill green" data-title="Complete" data-toggle="tooltip" data-original-title="" title=""></div>
                      </td>
                      <td class="text-right">
                        $354
                      </td>
                    </tr>
                    <tr>
                      <td class="nowrap">
                        Kelly Brans
                      </td>
                      <td>
                        <div class="cell-image-list">
                          <div class="cell-img" style="background-image: url(img/portfolio14.jpg)"></div>
                          <div class="cell-img" style="background-image: url(img/portfolio8.jpg)"></div>
                        </div>
                      </td>
                      <td class="text-center">
                        <div class="status-pill red" data-title="Cancelled" data-toggle="tooltip" data-original-title="" title=""></div>
                      </td>
                      <td class="text-right">
                        $94
                      </td>
                    </tr>
                    <tr>
                      <td class="nowrap">
                        Tim Howard
                      </td>
                      <td>
                        <div class="cell-image-list">
                          <div class="cell-img" style="background-image: url(img/portfolio16.jpg)"></div>
                          <div class="cell-img" style="background-image: url(img/portfolio14.jpg)"></div>
                          <div class="cell-img" style="background-image: url(img/portfolio5.jpg)"></div>
                        </div>
                      </td>
                      <td class="text-center">
                        <div class="status-pill green" data-title="Complete" data-toggle="tooltip" data-original-title="" title=""></div>
                      </td>
                      <td class="text-right">
                        $156
                      </td>
                    </tr>
                    <tr>
                      <td class="nowrap">
                        Joe Trulli
                      </td>
                      <td>
                        <div class="cell-image-list">
                          <div class="cell-img" style="background-image: url(img/portfolio1.jpg)"></div>
                          <div class="cell-img" style="background-image: url(img/portfolio5.jpg)"></div>
                          <div class="cell-img" style="background-image: url(img/portfolio6.jpg)"></div>
                          <div class="cell-img-more">
                            + 2 more
                          </div>
                        </div>
                      </td>
                      <td class="text-center">
                        <div class="status-pill yellow" data-title="Pending" data-toggle="tooltip" data-original-title="" title=""></div>
                      </td>
                      <td class="text-right">
                        $1,120
                      </td>
                    </tr>
                    <tr>
                      <td class="nowrap">
                        Jerry Lingard
                      </td>
                      <td>
                        <div class="cell-image-list">
                          <div class="cell-img" style="background-image: url(img/portfolio9.jpg)"></div>
                        </div>
                      </td>
                      <td class="text-center">
                        <div class="status-pill green" data-title="Complete" data-toggle="tooltip" data-original-title="" title=""></div>
                      </td>
                      <td class="text-right">
                        $856
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="d-none d-xxxl-block col-xxxl-6">
          <!--START - Questions per Product-->
          <div class="element-wrapper">
            <div class="element-actions">
              <!-- <form class="form-inline justify-content-sm-end"> -->
                <select class="form-control form-control-sm rounded">
                  <option value="Pending">
                    Today
                  </option>
                  <option value="Active">
                    Last Week 
                  </option>
                  <option value="Cancelled">
                    Last 30 Days
                  </option>
                </select>
              <!-- </form> -->
            </div>
            <h6 class="element-header">
              Inventory Stats
            </h6>
            <div class="element-box">
              <div class="os-progress-bar primary">
                <div class="bar-labels">
                  <div class="bar-label-left">
                    <span class="bigger">Eyeglasses</span>
                  </div>
                  <div class="bar-label-right">
                    <span class="info">25 items / 10 remaining</span>
                  </div>
                </div>
                <div class="bar-level-1" style="width: 100%">
                  <div class="bar-level-2" style="width: 70%">
                    <div class="bar-level-3" style="width: 40%"></div>
                  </div>
                </div>
              </div>
              <div class="os-progress-bar primary">
                <div class="bar-labels">
                  <div class="bar-label-left">
                    <span class="bigger">Outwear</span>
                  </div>
                  <div class="bar-label-right">
                    <span class="info">18 items / 7 remaining</span>
                  </div>
                </div>
                <div class="bar-level-1" style="width: 100%">
                  <div class="bar-level-2" style="width: 40%">
                    <div class="bar-level-3" style="width: 20%"></div>
                  </div>
                </div>
              </div>
              <div class="os-progress-bar primary">
                <div class="bar-labels">
                  <div class="bar-label-left">
                    <span class="bigger">Shoes</span>
                  </div>
                  <div class="bar-label-right">
                    <span class="info">15 items / 12 remaining</span>
                  </div>
                </div>
                <div class="bar-level-1" style="width: 100%">
                  <div class="bar-level-2" style="width: 60%">
                    <div class="bar-level-3" style="width: 30%"></div>
                  </div>
                </div>
              </div>
              <div class="os-progress-bar primary">
                <div class="bar-labels">
                  <div class="bar-label-left">
                    <span class="bigger">Jeans</span>
                  </div>
                  <div class="bar-label-right">
                    <span class="info">12 items / 4 remaining</span>
                  </div>
                </div>
                <div class="bar-level-1" style="width: 100%">
                  <div class="bar-level-2" style="width: 30%">
                    <div class="bar-level-3" style="width: 10%"></div>
                  </div>
                </div>
              </div>
              <div class="mt-4 border-top pt-3">
                <div class="element-actions d-none d-sm-block">
                  <!-- <form class="form-inline justify-content-sm-end"> -->
                    <select class="form-control form-control-sm form-control-faded">
                      <option selected="true">
                        Last 30 days
                      </option>
                      <option>
                        This Week
                      </option>
                      <option>
                        This Month
                      </option>
                      <option>
                        Today
                      </option>
                    </select>
                  <!-- </form> -->
                </div>
                <h6 class="element-box-header">
                  Inventory History
                </h6>
                <div class="el-chart-w">
                  <canvas data-chart-data="13,28,19,24,43,49,40,35,42,46,38,32,45" height="0" id="liteLineChartV3" width="0" class="chartjs-render-monitor" style="display: block; width: 0px; height: 0px;"></canvas>
                </div>
              </div>
            </div>
          </div>
          <!--END - Questions per product                  -->
        </div>
      </div>
</div>

<div class="content-panel">
    <div class="content-panel-close">
        <i class="os-icon os-icon-close"></i>
    </div>
    <div class="element-wrapper">
        <h6 class="element-header">
            Quick Links
        </h6>
        <div class="element-box-tp">
            <div class="el-buttons-list full-width">
                <a class="btn btn-white btn-sm" href="#"><i class="os-icon os-icon-delivery-box-2"></i><span>Create New
                        Product</span></a><a class="btn btn-white btn-sm" href="#"><i
                        class="os-icon os-icon-window-content"></i><span>Customer Comments</span></a><a
                    class="btn btn-white btn-sm" href="#"><i class="os-icon os-icon-wallet-loaded"></i><span>Store
                        Settings</span></a>
            </div>
        </div>
    </div>
    <!--------------------
        START - Support Agents
        -------------------->
    <div class="element-wrapper">
        <h6 class="element-header">
            Support Agents
        </h6>
        <div class="element-box-tp">
            <div class="profile-tile">
                <a class="profile-tile-box" href="users_profile_small.html">
                    <div class="pt-avatar-w">
                        <img alt="" src="img/avatar1.jpg">
                    </div>
                    <div class="pt-user-name">
                        John Mayers
                    </div>
                </a>
                <div class="profile-tile-meta">
                    <ul>
                        <li>
                            Last Login:<strong>Online Now</strong>
                        </li>
                        <li>
                            Tickets:<strong><a href="apps_support_index.html">12</a></strong>
                        </li>
                        <li>
                            Response Time:<strong>2 hours</strong>
                        </li>
                    </ul>
                    <div class="pt-btn">
                        <a class="btn btn-success btn-sm" href="apps_full_chat.html">Send Message</a>
                    </div>
                </div>
            </div>
            <div class="profile-tile">
                <a class="profile-tile-box" href="users_profile_small.html">
                    <div class="pt-avatar-w">
                        <img alt="" src="img/avatar3.jpg">
                    </div>
                    <div class="pt-user-name">
                        Ben Gossman
                    </div>
                </a>
                <div class="profile-tile-meta">
                    <ul>
                        <li>
                            Last Login:<strong>Offline</strong>
                        </li>
                        <li>
                            Tickets:<strong><a href="apps_support_index.html">9</a></strong>
                        </li>
                        <li>
                            Response Time:<strong>3 hours</strong>
                        </li>
                    </ul>
                    <div class="pt-btn">
                        <a class="btn btn-secondary btn-sm" href="apps_full_chat.html">Send Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--------------------
        END - Support Agents
        -------------------->
</div>