<span class="active-btn" (click)="invokeParentMethod()">
  <a *ngIf="!params.data.active" class="btn btn-success">Active</a>
  <a *ngIf="params.data.active" class="btn btn-danger">Deactive</a>
</span>
<span (click)="ViewProfile()"><a class="btn btn-primary">View</a></span>
<span (click)="assignRole()"><a class="btn btn-success">Assign Role</a></span>

<ngx-loading [show]="formSubmitted" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>