//    .btn {
//             line-height: 0.5;
//             width: 100%;
//         }

.active-btn a {
    margin-right: 5px;
    color: white;
}

.btn-success{
    padding-right: 20px;
    padding-left: 20px;
}

.btn-primary{
    margin-right: 4px;
}