<div class="all-wrapper menu-side with-pattern">
  <div class="container-fluid">
    <div class="row custom-row">
      <div class="auth-box-w wider">
        <div class="logo-w">
          <a href="javascript:void(0)"><img alt="" src="img/logo-big.png"></a>
        </div>
        <h4 class="auth-header">
          Create new account
        </h4>
        <form [formGroup]="signupForm" (ngSubmit)="submitForm()">

          <div class="form-group">
            <label for=""> Email address</label><span class="madatory">*</span>
            <input class="form-control" formControlName="email" placeholder="Enter email" type="email">
          </div>

          <div class="form-group">
            <label for="">Password</label><span class="madatory">*</span>
            <input class="form-control" formControlName="password" placeholder="Enter Password" type="Password">
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="">User Name</label><span class="madatory">*</span>
                <input class="form-control" formControlName="username" placeholder="Enter User Name" type="text">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="">Name</label><span class="madatory">*</span>
                <input class="form-control" formControlName="name" placeholder="Enter Name" type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="">Mobile</label><span class="madatory">*</span>
            <input class="form-control" formControlName="mobile" placeholder="Enter Mobile Number" type="text">
          </div>
          <div class="buttons-w">
            <button class="btn btn-primary btn-block" [disabled]="signupForm.invalid || formSubmitted">Register Now</button>
            <!-- <div class="form-check-inline">
              <a routerLink="../login">Sign In</a>
            </div> -->
          </div>
        </form>
        <app-copy-right></app-copy-right>
      </div>
    </div>
  </div>
</div>
<app-float-button></app-float-button>
<ngx-loading [show]="formSubmitted" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>