<div class="mm-logo-buttons-w">
  <a class="mm-logo" href="index.html">
    <img src="img/logo.png">
    <span *ngIf='userProfile && userProfile.roles && userProfile.roles[0].name === "ROLE_ADMIN"'>MARKET CLOUD
        ADMIN</span>
    <span *ngIf='userProfile && userProfile.roles && userProfile.roles[0].name !== "ROLE_ADMIN"'>MARKET CLOUD</span>
  </a>
  <div class="mm-buttons">
    <div class="content-panel-open">
      <div class="os-icon os-icon-grid-circles"></div>
    </div>
    <div class="mobile-menu-trigger">
      <div class="os-icon os-icon-hamburger-menu-1" (click)="hamburgerClick()"></div>
    </div>
  </div>
</div>
<div class="menu-and-user" [ngClass]="{'hamburger-active': hamburgerClass}">
  <div class="logged-user-w">
    <div class="avatar-w">
      <img alt="" src="img/profile.png">
    </div>
    <div class="logged-user-info-w">
      <div class="logged-user-name">
          <span *ngIf="userProfile && userProfile.name">{{userProfile.name}}</span>
      </div>
      <div class="logged-user-role">
          <span *ngIf='userProfile && userProfile.roles && userProfile.roles[0].name === "ROLE_ADMIN"'>Administrator</span>
          <span *ngIf='userProfile && userProfile.roles && userProfile.roles[0].name !== "ROLE_ADMIN"'>User Role</span>
      </div>
    </div>
  </div>
  <!--------------------
        START - Mobile Menu List
        -------------------->
  <ul class="main-menu">
    <li>
      <a routerLink='/dashboard'>
        <div class="icon-w">
          <div class="os-icon os-icon-layout"></div>
        </div>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="selected has-sub-menu" *ngIf='userProfile && userProfile.roles && userProfile.roles[0].name === "ROLE_ADMIN"'>
      <a>
        <div class="icon-w">
          <div class="os-icon os-icon-layout"></div>
        </div>
        <span>Users</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a routerLink='/dashboard/list'>User List</a>
        </li>
      </ul>
    </li>
  </ul>
  <!--------------------
        END - Mobile Menu List
    -------------------->
</div>