<div class="container-fluid bg-gradient p-5">
  <!-- <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary pull-left">Back To Login</button>
    </div>
  </div> -->
  <div class="row m-auto text-center w-75">
    <div class="pricing-plans row no-gutters">
      <div routerLink="../signup" class="pricing-plan col-lg-4 col-sm-12 with-hover-effect">
        <div class="plan-head">
          <div class="plan-image"><img alt="" src="img/plan1.png"></div>
          <div class="plan-name">
            Free Consumer
          </div>
        </div>
        <div class="plan-body">
          <div class="plan-price-w">
            <div class="price-value">
              $0
            </div>
            <div class="price-label">
              For Price
            </div>
          </div>
          <div class="plan-btn-w">
            <a href="javascript:void(0)" class="btn btn-primary btn-rounded">Contact Us</a>
          </div>
        </div>
        <div class="plan-description">
          <h6>
            Quick Description
          </h6>
          <p>
            Pane, problem that millions lay up as and but antiquity in that officers. Was at survey is be behavioural
            how behavioural writing arrange trial.
          </p>
          <h6>
            Features
          </h6>
          <ul>
            <li>
              User Profiles
            </li>
            <li>
              File Manager
            </li>
            <li>
              Pricing Plans
            </li>
          </ul>
        </div>
      </div>
      <div routerLink="../payment" class="pricing-plan col-lg-4 col-sm-12 with-hover-effect">
        <div class="plan-head">
          <div class="plan-image"><img alt="" src="img/plan2.png"></div>
          <div class="plan-name">
              professionals 
          </div>
        </div>
        <div class="plan-body">
          <div class="plan-price-w">
            <div class="price-value">
              $20
            </div>
            <div class="price-label">
              For Price
            </div>
          </div>
          <div class="plan-btn-w">
            <a class="btn btn-primary btn-rounded" href="javascript:void(0)">Contact Us</a>
          </div>
        </div>
        <div class="plan-description">
          <h6>
            Quick Description
          </h6>
          <p>
            Pane, problem that millions lay up as and but antiquity in that officers. Was at survey is be behavioural
            how behavioural writing arrange trial.
          </p>
          <h6>
            Features
          </h6>
          <ul>
            <li>
              User Profiles
            </li>
            <li>
              File Manager
            </li>
            <li>
              Pricing Plans
            </li>
            <li>
              Booking Functions
            </li>
            <li>
              Neural Networks
            </li>
          </ul>
        </div>
      </div>
      <div routerLink="../payment" class="pricing-plan col-lg-4  col-sm-12 with-hover-effect">
        <div class="plan-head">
          <div class="plan-image"><img alt="" src="img/plan3.png"></div>
          <div class="plan-name">
            Enterprize
          </div>
        </div>
        <div class="plan-body">
          <div class="plan-price-w">
            <div class="price-value">
              $45
            </div>
            <div class="price-label">
              For Price
            </div>
          </div>
          <div class="plan-btn-w">
            <a class="btn btn-primary btn-rounded" href="javascript:void(0)">Contact Us</a>
          </div>
        </div>
        <div class="plan-description">
          <h6>
            Quick Description
          </h6>
          <p>
            Pane, problem that millions lay up as and but antiquity in that officers. Was at survey is be behavioural
            how behavioural writing arrange trial.
          </p>
          <h6>
            Features
          </h6>
          <ul>
            <li>
              User Profiles
            </li>
            <li>
              File Manager
            </li>
            <li>
              Pricing Plans
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<app-float-button></app-float-button>