<div routerLink="../login" class="floated-colors-btn second-floated-btn">
  <span>Login</span>
</div>
<div routerLink="../pricing" class="floated-chat-btn">
  <i class="fa fa-user-plus"></i>
  <span>Sign Up</span>
</div>