<div class="content-box">
  <div class="element-wrapper">
    <h6 class="element-header">
      Profile Details
    </h6>
    <div class="element-box">
      <!-- <form [formGroup]="profileForm" (ngSubmit)="submitForm()"> -->
      <div class="container emp-profile">
        <!-- <form method="post"> -->
        <div class="row">

          <div class="col-md-6">
            <div class="profile-head">
              <h5>User : {{userProfile?.name}}</h5>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                  <div class="col-md-4">
                    <label>Name</label>
                  </div>
                  <div class="col-md-6">
                    <p>{{userProfile?.name}}</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Email</label>
                  </div>
                  <div class="col-md-6">
                    <p *ngIf="userProfile?.email">{{userProfile?.email}}</p>
                    <p *ngIf="!userProfile?.email">-</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Mobile</label>
                  </div>
                  <div class="col-md-6">
                    <p *ngIf="userProfile?.mobile">{{userProfile?.mobile}}</p>
                    <p *ngIf="!userProfile?.mobile">-</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Phone Home</label>
                  </div>
                  <div class="col-md-6">
                    <p *ngIf="userProfile?.phoneHome">{{userProfile?.phoneHome}}</p>
                    <p *ngIf="!userProfile?.phoneHome">-</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Phone Office</label>
                  </div>
                  <div class="col-md-6">
                    <p *ngIf="userProfile?.phoneOffice">{{userProfile?.phoneOffice}}</p>
                    <p *ngIf="!userProfile?.phoneOffice">-</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>Country</label>
                  </div>
                  <div class="col-md-6">
                    <p *ngIf="userProfile?.country">{{userProfile?.country}}</p>
                    <p *ngIf="!userProfile?.country">-</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>City</label>
                  </div>
                  <div class="col-md-6">
                    <p *ngIf="userProfile?.city">{{userProfile?.city}}</p>
                    <p *ngIf="!userProfile?.city">-</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <label>State</label>
                  </div>
                  <div class="col-md-6">
                    <p *ngIf="userProfile?.state">{{userProfile?.state}}</p>
                    <p *ngIf="!userProfile?.state">-</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <label>Address Home</label>
                  </div>
                  <div class="col-md-6">
                    <p *ngIf="userProfile?.addressHome">{{userProfile?.addressHome}}</p>
                    <p *ngIf="!userProfile?.addressHome">-</p>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <label>Address Office</label>
                  </div>
                  <div class="col-md-6">
                    <p *ngIf="userProfile?.addressOffice">{{userProfile?.addressOffice}}</p>
                    <p *ngIf="!userProfile?.addressOffice">-</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- </form>            -->
      </div>
      <!-- </form> -->
    </div>
  </div>
</div>