<div class="content-box">

    <div class="element-wrapper">
        <h6 class="element-header">
            Profile Settings
        </h6>
        <div class="element-box">
            <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
                <div class="row sni-box">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg"
                                            (change)="fileChangeEvent($event)" />
                                        <label for="imageUpload"></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview" [style.background-image]="'url('+image+')'">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center mt-3">
                                <button type="button" class="btn btn-primary sni-round-btn sni-gray" (click)="removePhoto()">Remove Photo</button>
                                <button type="button" class="btn btn-primary sni-round-btn" (click)="updatePhoto()">Update Profile Picture</button>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h1>{{userProfile?.name}}</h1>
                        <h1 *ngIf='userProfile && userProfile.roles && userProfile.roles[0].name === "ROLE_ADMIN"'>
                            MARKET CLOUD ADMIN
                        </h1>
                        <h1 *ngIf='userProfile && userProfile.roles && userProfile.roles[0].name !== "ROLE_ADMIN"'>
                                MARKET CLOUD USER
                            </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">User Name</label>
                            <input disabled="true" class="form-control" formControlName="username"
                                placeholder="Enter User Name" type="text">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for=""> Email address</label>
                            <input disabled="true" class="form-control" formControlName="email"
                                placeholder="Enter email" type="email">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input class="form-control" formControlName="name" placeholder="Enter Name" type="text">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Mobile</label>
                            <input class="form-control" formControlName="mobile" placeholder="Enter Mobile Number"
                                type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Phone Home</label>
                            <input class="form-control" formControlName="phoneHome" placeholder="Enter Phone Home"
                                type="text">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Phone Office</label>
                            <input class="form-control" formControlName="phoneOffice" placeholder="Enter Phone Office"
                                type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">Country</label>
                            <!-- <input class="form-control" formControlName="country" placeholder="Enter Country" -->
                            <!-- type="text"> -->
                            <!-- <select class="form-control" formControlName="country"
                                (change)="onChangeCountry($event.target.value)">
                                <option *ngFor="let country of countryInfo; let i = index" value="{{i}}">
                                    {{country.CountryName}}</option>
                            </select> -->
                            <select formControlName="country" (change)="onSelectCountry($event.target.value)"
                                class="form-control input-lg" id="country">
                                <option value="">Select Country</option>
                                <option *ngFor="let country of countries" value={{country.id}}>{{country.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">State</label>
                            <select formControlName="state" (change)="onSelectState($event.target.value)"
                                class="form-control input-lg" id="state">
                                <option value="0">Select State</option>
                                <option *ngFor="let state of states" value={{state.id}}>{{state.name}}</option>
                            </select>
                            <!-- <input class="form-control" formControlName="city" placeholder="Enter City" type="text"> -->
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">City</label>
                            <select class="form-control input-lg" id="city" formControlName="city">
                                <option *ngIf="!selectedState" value="0">Select City</option>
                                <option *ngFor="let city of cities" value={{city.id}}>{{city.name}}</option>
                            </select>
                            <!-- <input class="form-control" formControlName="state" placeholder="Enter State" type="text"> -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Address Home</label>
                            <textarea class="form-control" formControlName="addressHome"
                                placeholder="Enter Address Home"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="">Address Office</label>
                            <textarea class="form-control" formControlName="addressOffice"
                                placeholder="Enter Address Office"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">

                    </div>
                </div>

                <!-- <div class="form-group">
                          <label for="">Role</label>
                          <select class="form-control" formControlName="role" [value]='0'>
                            <option value="0">--select role--</option>
                            <option value="CONSUMER">CONSUMER</option>
                          </select>
                        </div> -->
                <div class="buttons-w">
                    <button class="btn btn-primary"
                        [disabled]="profileForm.invalid || formSubmitted || profileForm.pristine">Update
                        Profile</button>
                    <!-- <div class="form-check-inline">
                            <a routerLink="../login">Sign In</a>
                          </div> -->
                </div>
            </form>
        </div>
    </div>
</div>
<ngx-loading [show]="formSubmitted" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>