<div style="background-color: #F5F5F5; padding: 2px 40px; text-align: center; border-radius: 4px;">
    <div style="margin-bottom: 10px;">
      <a href="https://www.twitter.com" target="_blank" style="display: inline-block; margin: 0px 10px;">
        <img alt="" src="img/social-icons/twitter.png" style="width: 28px;"></a>
      <a href="https://www.facebook.com" target="_blank" style="display: inline-block; margin: 0px 10px;">
        <img alt="" src="img/social-icons/facebook.png" style="width: 28px;"></a>
      <a href="https://www.linkedin.com" target="_blank" style="display: inline-block; margin: 0px 10px;">
        <img alt="" src="img/social-icons/linkedin.png" style="width: 28px;"></a>
      <a href="https://www.instagram.com" target="_blank" style="display: inline-block; margin: 0px 10px;">
        <img alt="" src="img/social-icons/instagram.png" style="width: 28px;"></a>
    </div>
    <div style="margin-bottom: 10px;">
      <a routerLink="../contact-us"
        style="text-decoration: underline; font-size: 14px; letter-spacing: 1px; margin: 0px 15px; color: #261D1D;">Contact
        Us</a>
      <a routerLink="../privacy"
        style="text-decoration: underline; font-size: 14px; letter-spacing: 1px; margin: 0px 15px; color: #261D1D;">Privacy
        Policy</a>
      <a href="javascript:void(0)" (click)="openUnsubscribe()"
        style="text-decoration: underline; font-size: 14px; letter-spacing: 1px; margin: 0px 15px; color: #261D1D;">Unsubscribe</a>
    </div>
    <div style="color: #A5A5A5; font-size: 12px; margin-bottom: 5px; padding: 0px 50px;">
      Copyright <a href="https://www.dansoft.co" target="_blank" >@Dansoft</a>- 2019, all rights reserved
    </div>
  </div>