
<div class="container contact">
    <div class="row">
      <div class="col-md-4">
        <div class="contact-info">
          <h2 class="sni-white">Privacy Policy</h2>
          <img src="https://cdn4.iconfinder.com/data/icons/general19/png/256/lock.png" alt="">
        </div>
      </div>
      <div class="col-md-8">
          <p><strong>Introduction</strong></p>
          <p>[Individual or Company Name] built the [App Name] app as a [open source | free | freemium | ad-supported | commercial] app. This SERVICE is provided by [Individual or company name] [at no cost] and is intended
              for use as is.</p>
          <p>This page is used to inform website visitors regarding [my|our] policies with the collection, use, and
              disclosure of Personal Information if anyone decided to use [my|our] Service.</p>
          <p>If you choose to use [my|our] Service, then you agree to the collection and use of information in
              relation with this policy. The Personal Information that [I|we] collect are used for providing and
              improving the Service. [I|We] will not use or share your information with anyone except as described
              in this Privacy Policy.</p>
          <p>The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions,
              which is accessible at [App Name], unless otherwise defined in this Privacy Policy.</p>
          
          <p><strong>Information Collection and Use</strong></p>
          <p>For a better experience while using our Service, [I|we] may require you to provide us with certain
              personally identifiable information, including but not limited to [add whatever else you collect here, e.g. users name | address | location | pictures]. 
            The information that [I|we] request is [retained on your device and is not
              collected by [me|us] in any way]|[will be retained by us and used as described in this privacy policy.</p>
          <p>The app does use third party services that may collect information used to identify you. [You can mention Google services here and link to Google's privacy policy if you want].
        
      </div>
    </div>
  </div>
  <app-float-button></app-float-button>
<app-float-button></app-float-button>