<div class="container-fluid">
  <div class="row custom-row">
    <div style="max-width: 600px; margin: 0px auto; padding-top: 10px; background-color: #fff; box-shadow: 0px 20px 50px rgba(0,0,0,0.05);">
      <table style="width: 100%;">
        <tr>
          <td style="background-color: #fff;">
            <img style="width: 70px; padding: 20px">
          </td>
          <td style="padding-left: 50px; text-align: right; padding-right: 20px;">
            <!-- <a routerLink="../login"
          style="color: #261D1D; text-decoration: underline; font-size: 14px; letter-spacing: 1px;">
          Sign In</a>
        <a href="../user/signup"
          style="color: #7C2121; text-decoration: underline; font-size: 14px; margin-left: 20px; letter-spacing: 1px;">sign
          Up</a> -->
          </td>
        </tr>
      </table>
      <div>
        <form [formGroup]="resetForm" (ngSubmit)="submitForm()">
          <div style="padding: 60px 70px 10px 70px; border-top: 1px solid rgba(0,0,0,0.05);">
            <h1 style="margin-top: 0px;">
              Forgot Password?
            </h1>
            <div style="color: #636363; font-size: 14px;">
              <input class="form-control" formControlName="email" placeholder="Enter your email Address" type="email">
            </div>
            <button class="btn btn-primary"
              style="padding: 8px 20px; background-color: #4B72FA; color: #fff; font-weight: bolder; font-size: 16px; display: inline-block; margin: 20px 0px; margin-right: 20px; text-decoration: none;"
              [disabled]="!(resetForm.valid)">Reset My Password</button>
          </div>
        </form>
        <!-- <form [formGroup]="verifyForm">
          <div style="padding: 0px 70px;" *ngIf="verificationCode">
            <div style="color: #636363; font-size: 14px;">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input class="form-control" formControlName="verification"
                      placeholder="Enter your Verification Code" type="text">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <a class="verify-icon" (click)="verifyCode()">
                      <i class="fa fa-check-circle"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form> -->
      </div>
      <!-- <div *ngIf="passwordStatus">
        <form [formGroup]="passwordForm" (ngSubmit)="verifyPassword()">
          <div style="padding: 60px 70px 10px 70px; border-top: 1px solid rgba(0,0,0,0.05);">
            <h1 style="margin-top: 0px;">
              Reset Your Password
            </h1>
            <div style="color: #636363; font-size: 14px;">
              <input class="form-control" formControlName="password" placeholder="Enter your password" type="password">
            </div>
            <button class="btn btn-primary"
              style="padding: 8px 20px; background-color: #4B72FA; color: #fff; font-weight: bolder; font-size: 16px; display: inline-block; margin: 20px 0px; margin-right: 20px; text-decoration: none;"
              [disabled]="!(passwordForm.valid)">Change Password</button>
          </div>
        </form>
      </div> -->
      <app-copy-right></app-copy-right>
    </div>
  </div>
</div>
<app-float-button></app-float-button>
<ngx-loading [show]="formSubmitted" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>