<div class="content-box">
  <div class="element-wrapper">
    <h6 class="element-header">
      Users List
    </h6>
    <div class="element-box" style='height: 100%'>
      <!-- <div class="row">
        <div class="col-sm-12 col-md-12">
            <label class="sni-search">Search:<input type="search"
              class="form-control form-control-sm" placeholder="" aria-controls="dataTable1">
            </label>
          </div>
      </div> -->

      <ag-grid-angular style="width: 100%; height: 530px;" class="ag-theme-balham" (gridReady)="onGridReady($event)" [rowData]="rowData" [gridOptions]="gridOptions">
      </ag-grid-angular>
    </div>
  </div>
</div>