<div class="container-fluid">
    <div class="row custom-row">
      <div
        style="max-width: 600px; margin: 0px auto; padding-top: 10px; background-color: #fff; box-shadow: 0px 20px 50px rgba(0,0,0,0.05);">
        
        <table style="width: 100%;">
          <tr>
            <td style="background-color: #fff;">
              <img style="width: 70px; padding: 20px">
              <h2>Payment Page Update Progress</h2>
            </td>
            <td style="padding-left: 50px; text-align: right; padding-right: 20px;">
              
              <!-- <a routerLink="../login"
            style="color: #261D1D; text-decoration: underline; font-size: 14px; letter-spacing: 1px;">
            Sign In</a>
          <a href="../user/signup"
            style="color: #7C2121; text-decoration: underline; font-size: 14px; margin-left: 20px; letter-spacing: 1px;">sign
            Up</a> -->
            </td>
          </tr>
        </table>
        <div style="background-color: #F5F5F5; padding: 40px; text-align: center;">
          <div style="margin-bottom: 20px;">
            <a href="javascript:void(0)" style="display: inline-block; margin: 0px 10px;">
              <img alt="" src="img/social-icons/twitter.png" style="width: 28px;"></a>
            <a href="javascript:void(0)" style="display: inline-block; margin: 0px 10px;">
              <img alt="" src="img/social-icons/facebook.png" style="width: 28px;"></a>
            <a href="javascript:void(0)" style="display: inline-block; margin: 0px 10px;">
              <img alt="" src="img/social-icons/linkedin.png" style="width: 28px;"></a>
            <a href="javascript:void(0)" style="display: inline-block; margin: 0px 10px;">
              <img alt="" src="img/social-icons/instagram.png" style="width: 28px;"></a>
          </div>
          <div style="margin-bottom: 20px;">
            <a href="javascript:void(0)"
              style="text-decoration: underline; font-size: 14px; letter-spacing: 1px; margin: 0px 15px; color: #261D1D;">Contact
              Us</a>
            <a href="javascript:void(0)"
              style="text-decoration: underline; font-size: 14px; letter-spacing: 1px; margin: 0px 15px; color: #261D1D;">Privacy
              Policy</a>
            <a href="javascript:void(0)"
              style="text-decoration: underline; font-size: 14px; letter-spacing: 1px; margin: 0px 15px; color: #261D1D;">Unsubscribe</a>
          </div>
          <!-- <div style="color: #A5A5A5; font-size: 12px; margin-bottom: 20px; padding: 0px 50px;">
            You are receiving this email because you signed up for Sni Admin.
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <app-float-button></app-float-button>