<div class="logo-w">
   <a class="logo" routerLink="/dashboard">
      <div class="logo-element"></div>
      <div class="logo-label">
         <span *ngIf='userProfile && userProfile.roles && userProfile.roles[0].name == "ROLE_ADMIN"'>MARKET CLOUD
            ADMIN</span>
         <span *ngIf='userProfile && userProfile.roles && userProfile.roles[0].name !== "ROLE_ADMIN"'>MARKET
            CLOUD</span>
      </div>
   </a>
</div>
<div class="logged-user-w avatar-inline">
   <app-header-options [sideHeader]="'sideView'"></app-header-options>
</div>
<!-- <div class="element-search autosuggest-search-activator">
    <input placeholder="Start typing to search..." type="text">
 </div> -->
<ul class="main-menu">
   <li class="sub-header">
      <span>Home</span>
   </li>
   <li class="selected" [routerLinkActive]="['active']">
      <a [routerLink]="['/dashboard']">
         <div class="icon-w">
            <div class="os-icon os-icon-layout"></div>
         </div>
         <span>dashboard</span>
      </a>
   </li>

   <li class="selected has-sub-menu"
      *ngIf='userProfile && userProfile.roles && userProfile.roles[0].name === "ROLE_ADMIN"'>
      <a>
         <div class="icon-w">
            <div class="os-icon os-icon-life-buoy"></div>
         </div>
         <span>Users</span>
      </a>
      <div class="sub-menu-w">
         <div class="sub-menu-i">
            <ul class="sub-menu">
               <li>
                  <a routerLink='/dashboard/list'>User List</a>
               </li>
            </ul>
         </div>
      </div>
   </li>
</ul>
<ul class="main-menu">
   <li class="sub-header">
      <span>Campaign</span>
   </li>
   <li class="selected has-sub-menu">
      <a>
         <div class="icon-w">
            <div class="os-icon os-icon-life-buoy"></div>
         </div>
         <span>Products</span>
      </a>
      <div class="sub-menu-w">
         <div class="sub-menu-i">
            <ul class="sub-menu">
               <li>
                  <a>Products List</a>
               </li>
            </ul>
         </div>
      </div>
   </li>

   <li class="selected has-sub-menu">
      <a>
         <div class="icon-w">
            <div class="os-icon os-icon-grid"></div>
         </div>
         <span>Campaign</span>
      </a>
      <div class="sub-menu-w">
         <div class="sub-menu-i">
            <ul class="sub-menu">
               <li>
                  <a>Campaign List</a>
               </li>
            </ul>
         </div>
      </div>
   </li>
   <li class="selected has-sub-menu">
      <a>
         <div class="icon-w">
            <div class="os-icon os-icon-layout"></div>
         </div>
         <span>Order</span>
      </a>
      <div class="sub-menu-w">
         <div class="sub-menu-i">
            <ul class="sub-menu">
               <li>
                  <a>Order List</a>
               </li>
            </ul>
         </div>
      </div>
   </li>
</ul>

<ul class="main-menu">
   <li class="sub-header">
      <span>Rating</span>
   </li>
   <li class="selected has-sub-menu">
      <a>
         <div class="icon-w">
            <div class="os-icon os-icon-edit-32"></div>
         </div>
         <span>Review</span>
      </a>
      <div class="sub-menu-w">
         <div class="sub-menu-i">
            <ul class="sub-menu">
               <li>
                  <a>Review List</a>
               </li>
            </ul>
         </div>
      </div>
   </li>
</ul>