// $bc : #263238;

// #side-menu .sidebar-heading {
//     padding: 0.875rem 1.25rem;
//     font-size: 1.2rem;
//     color: white;
// }

// #side-menu .list-group {
//     text-align: left;
// }

// #side-menu .list-group .list-group-item {
//     color: white;
//     background-color: $bc;
// }

// #side-menu .list-group .list-group-item:hover {
//     background-color: #49809c;
// }

// #side-menu .list-group .active {
//     border-color: #25aac5;
//     background-color: #25aac5;
// }