<div class="logged-user-i">
  <div class="avatar-w">
    <img alt="" src="img/profile.png">
  </div>
  <section *ngIf="sideHeader=='sideView'">
      <div class="logged-user-info-w">
         <div class="logged-user-name">
            <!-- {{userProfile}} -->
            <span *ngIf="userProfile && userProfile.name">{{userProfile.name}} </span>
         </div>
         <div class="logged-user-role">
            <span
               *ngIf='userProfile && userProfile.roles && userProfile.roles[0].name === "ROLE_ADMIN"'>Administrator</span>
            <span *ngIf='userProfile && userProfile.roles && userProfile.roles[0].name !== "ROLE_ADMIN"'>User
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
         </div>
      </div>
      <div class="logged-user-toggler-arrow">
         <div class="os-icon os-icon-chevron-down"></div>
      </div>
   </section>
  <div class="logged-user-menu color-style-bright">
    <div class="logged-user-avatar-info">
      <div class="avatar-w">
        <img alt="" src="img/profile.png">
      </div>
      <div class="logged-user-info-w">
        <div class="logged-user-name">
          <span *ngIf="userProfile && userProfile.name">{{userProfile.name}} </span>
        </div>
        <div class="logged-user-role">
          <span
            *ngIf='userProfile && userProfile.roles && userProfile.roles[0].name === "ROLE_ADMIN"'>Administrator</span>
          <span *ngIf='userProfile && userProfile.roles && userProfile.roles[0].name !== "ROLE_ADMIN"'>User</span>
        </div>
      </div>
    </div>
    <div class="bg-icon">
      <i class="os-icon os-icon-wallet-loaded"></i>
    </div>
    <ul>
      <li>
        <a (click)="profileDetails()"><i class="os-icon os-icon-user-male-circle2"></i><span>Profile
            Details</span></a>
      </li>
      <li (click)="resetPassword()">
        <a><i class="os-icon os-icon-database"></i><span>Reset
            Password</span>
        </a>
      </li>
      <li>
        <a (click)="userLogoutSession()"><i class="os-icon os-icon-signs-11"></i><span>Logout</span></a>
      </li>
    </ul>
  </div>
</div>