/* You can add global styles to this file, and also import other style files */
// @import "../bower_components/bootstrap-daterangepicker/daterangepicker.css";
// @import "../bower_components/dropzone/dist/dropzone.css";
// @import "../bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css";
// @import "../bower_components/fullcalendar/dist/fullcalendar.min.css";
// @import "../bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css";
// @import "../bower_components/slick-carousel/slick/slick.css";
@import "../css/main.css";
@import 'variables';
// regular style toast
@import '~ngx-toastr/toastr.css';
@import '../node_modules/font-awesome/scss/font-awesome';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-blue.css";

@import "~ag-grid-community/dist/styles/ag-theme-bootstrap.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import "~ag-grid-community/dist/styles/ag-theme-fresh.css";




// bootstrap style toast
// or import a bootstrap 4 alert styled design (SASS ONLY)
// should be after your bootstrap imports, it uses bs4 variables, mixins, functions
// @import '~ngx-toastr/toastr-bs4-alert';

// if you'd like to use it without importing all of bootstrap it requires
// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';
// @import '~ngx-toastr/toastr-bs4-alert';

.invalid-error {
    color: #e65252;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
}

input.ng-touched.ng-invalid {
    border: 2px solid #e65252 !important;
}

app-landing{
    display: flex;
}

// .ag-header-viewport {
//     border-bottom: 1px solid #99A0A8;
// }

.ag-theme-balham .ag-header-row{
    background-color: #0a7cf87a;
}

.ag-theme-balham .ag-header-cell-label .ag-header-cell-text {
    color : white;
}

.custom-row {
    padding: 30px 0px;
}

.madatory{
    color: red;
    padding-left: 5px;
}

.sni-box{
    padding:4px 4px 10px 4px;
    margin-bottom: 10px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.sni-round-btn {
	border: none;
	border-radius: 12px;
	background-color: #0a7cf8;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.4);
}

.sni-green{
    background-color: #00ABAD;
}
.sni-gray{
    background-color: #63686f;
}