<span [formGroup]="inputForm">
    <input class="form-control" formControlName="formControl" placeholder="Enter First Name" type="text">
    <div *ngIf="inputForm.controls.formControl.errors && inputForm.controls.password.dirty && inputForm.controls.password.errors?.required" class="invalid-feedback">
        First Name is required
    </div>
  </span>
