<div class="all-wrapper menu-side with-pattern">
  <div class="container-fluid">
    <div class="row custom-row">
      <div class="auth-box-w wider">
        <div class="logo-w">
          <a href="javascript:void(0)"><img alt="" src="img/logo-big.png"></a>
        </div>
        <h4 class="auth-header">Login</h4>
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
          <div class="form-group">
            <label for="">Email Or User Name</label><input class="form-control" formControlName="usernameOrEmail"
              placeholder="Enter your email or username" type="text">
            <div class="pre-icon os-icon os-icon-user-male-circle"></div>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <span class="pull-right"><a class="pull-right" [routerLink]="['../forgot-password']">Forgot password</a></span>
            <input class="form-control" formControlName="password"
              placeholder="Enter your password" type="password">
            <div class="pre-icon os-icon os-icon-fingerprint"></div>
          </div>
          <div class="buttons-w">
            <button class="btn btn-primary btn-block" [disabled]="loginForm.invalid || formSubmitted">Log me in</button>
            <!-- <div class="form-check-inline">
              &nbsp;&nbsp;&nbsp;
              <a routerLink="../forgot-password">Forgot password</a>
            </div> -->
          </div>
        </form>
        <app-copy-right></app-copy-right>
      </div>
    </div>
  </div>
</div>
<app-float-button></app-float-button>
<ngx-loading [show]="formSubmitted" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>